/*****top of scene*****/
/*file, current yaz*/
.top-labels{
    -fx-font: 13px "Segoe UI Semibold";
    -fx-background-color: #e8e6e8;
}
/*borderpane, Hbox*/
.background-only{
    -fx-background-color: #4683C4;
}
/*userCB, skinCB*/
.top-combo-box{
    -fx-background-color: #e8e6e8;
    -fx-font:12px "Segoe UI Semibold";
}

/******buttons*****/
.button:hover {
    -fx-background-color:
            linear-gradient(#d6d6d6,#f2f2f2),
            linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
            linear-gradient(#f6f6f6 50%,#dddddd 0%);
    -fx-scale-y: 1.1;
}
.button:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}
.button {
    -fx-font:12px "Segoe UI Semibold";
    -fx-background-color:
            linear-gradient(#f2f2f2, #d6d6d6),
            linear-gradient(#d6d6d6 100%, #d9d9d9 20%, #fcfcfc 0%),
            linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
/*****tabpane*****/
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #f5f5f5;
}
/***** tables *****/
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #9ec4db, #f0f8fe);
    -fx-background-radius: 7px 7px 0px 0px;
    /*-fx-background-insets: 0 11px 0 0;*/
    /*-fx-padding: 0 0 5px 0;*/
}
.table-view .column-header {
    -fx-font:12px "Segoe UI Semibold";
    -fx-border-color: #f5f5f5;
}
/*.table-view .table-cell{*/
/*    -fx-border-color: transparent;*/
/*    -fx-padding: 2 0 2 10px;*/
/*}*/
.table-row-cell {
    -fx-background-color: #f0f8fe;
    /*-fx-border-color: #f5f5f5;*/
    /*-fx-background-radius: 15px;*/
    /*-fx-text-fill: WHITE;*/
}
.table-row-cell:selected{
    -fx-background-color: steelblue;
}
.table-row-cell:selected .text {
    -fx-fill: #f5f5f5 ;
}
.table-column{
    -fx-text-fill: #28316f;
    -fx-background-color: transparent;
}

/*****infromation-tab*****/
#balance-label{
    -fx-text-fill: #f5f5f5;
    -fx-font:12px "Segoe UI Black";
}
#loans-label{
    -fx-text-fill: #f5f5f5;
    -fx-font:12px "Segoe UI Black";
}
#lending-label{
    -fx-text-fill: #f5f5f5;
    -fx-font:12px "Segoe UI Black";
}
.message-label{
    -fx-text-fill: #f5f5f5;
    -fx-font:12px "Segoe UI Semibold";
}
.sell-loan-background{
    -fx-background-color: linear-gradient(to bottom, #9ec4db, #f0f8fe);
}
.check-list-background{
    -fx-background-color: #f5f5f5;
}

/**** inlayTab ****/
#progress-label{
    -fx-text-fill: #f5f5f5;
}
.error-label{
    -fx-font: 13px "Segoe UI Semibold";
    -fx-text-fill: RED;
}